<!DOCTYPE html>
<html>
	<head>
		<title> Machine Learning Demo </title>
		<link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.css') }}">
	</head>
	<body style="background-image: url('{{ url_for('static',filename='img/AI2.jpg') }}');
  		background-repeat: no-repeat; 
  		background-size: cover;
  		background-color: white;
  		text-align: center;
  		vertical-align: middle;
  		max-width: auto;
  		max-height: auto;
  		position: relative;">
		<div style="position: absolute; 
			margin-top: 25%;
			top: 50%; 
			left: 50%;
			transform: translate(-50%, -50%);">
			<div style="color: white; font-size: 400%;">Enter text and/or emoticons to classify</div>
			<form method="POST">
			    <input style="padding: 10px; margin: 10px;" name="text">
			    <br>
			    <input class="btn btn-lg btn-secondary" type="submit" value="Classify">
			</form>
		</div>
	</body>
</html>
